<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://limonte.github.io/sweetalert2/dist/sweetalert2.min.css">
		<link rel="stylesheet" href="/resources/css/style.css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://limonte.github.io/sweetalert2/dist/sweetalert2.js"></script>
		<script src="https://neodev2.github.io/utils.js"></script>
		<script src="/resources/js/client.js"></script>
	</head>
	
	<body>
		
		<div id="askCont">
			<input id="ask" type="search" value="arrange appointment at_6">
			<button id="askBtn">Submit</button>
		</div>
		
	</body>
</html>